<snap-content class="snap-content slide-left magictime spaceInUp">
    
    <div class=jumbotron>
        <div class=container>
            <h1>Welcome!
            </h1> I don't want to bloat this Versatile Theme Free Edition AngularJS Admin theme with a lot of plugins. To install plugins we have bower. Let's keep it real clean!
            <br>
            <br>
            <p>
            <a ui-sref=login class="btn btn-primary btn-lg btn-white">Logout
            </a>
            </p>
        </div>
    </div>
</snap-content>
