<snap-content class="snap-content slide-left magictime spaceInUp">

<div class="jumbotron" ng-controller="UserController">
    <div class=container>
        <h3>Users</h3>
        <div class="table-responsive">
            <table class="table table-stripped">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Status</th>
                        <th>Signed Up On</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="user in users">
                    <td>{{user.first_name+" "+user.last_name}}</td>
                    <td>{{user.email}}</td>
                    <td>{{user.status}}</td>
                    <td>{{user.created}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</snap-content>